body,form {
}
button{
    width:200px;
}
label {
    display: inline-block;
    width: 95px;
    text-align: right;
}
.input {
    margin-bottom: 10px;
}
.input-buttom {
    display:inline-block;
    width: 300px;
    margin-bottom:10px;
}

.box {
    width: 49%;
}

.box-border{
    border-right: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.line{
    margin-top:10px;
    border-bottom: 1px solid black;
     margin-bottom:10px;
}
.float-left{
    float:left;
}
.input-main{
    text-align:center;
}