body,form {
}
button{
    width:200px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
.input {
    margin-bottom: 10px;
    width:100%;
}
.input-buttom {
    margin-bottom:10px;
}

.box {
    width: 49%;
}

.box-border{
    border-right: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.line{
    margin-top:10px;
    border-bottom: 1px solid black;
     margin-bottom:10px;
}
.float-left{
    float:left;
}
table{

    margin: 0 auto;
}
.simple-margin{
    margin-top:20px;
}
.input-main{
    text-align:center;
}
.input-buttom-margin{
    margin-left:25%;
}
.normalizer-div label{
    width:40px;
}